<h1>タスク一覧</h1>
<ul>
  <% @tasks = Task.all %>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %>  |
    <%= link_to "削除", task_path(task), method: :delete %></li>
  <% end %>
</ul>

<hr>

<h3>タスク登録</h3>

<% if flash["alert"].present? %>
  <div class="error_color">
    <h3>[エラー内容]</h3>
    <% flash["alert"].each do |value| %>
      <%= content_tag(:div, value) %>
    <% end %>
  </div>
<% end %>

<%= form_with model: @task, local: true do |form| %>
  <p>
    タイトル<br>
    <%= form.text_field :title %>
  </p>
  <p>
    内容<br>
    <%= form.text_area :body %>
  </p>

  <%= form.submit "登録" %>

<% end %>
