<p>
  <b>タイトル：<%= @task.title %></b>
</p>

<p>
  <b>内容：<%= @task.body %></b>
</p>


<%= link_to "編集", edit_task_path(@task) %>

<%= link_to "削除", task_path(@task), method: :delete %>

<%= link_to "一覧に戻る", tasks_path(@task) %>
